* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body { 
    background-color: rgb(194, 134, 250);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.041);
}

h1 {
    font-size: 2rem;
    color: rgb(66, 10, 119);
}

h2 {
    font-size: 1.5em;
    color: rgb(66, 10, 119);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(66, 10, 119);
}

a:hover {
    text-decoration: underline;
    color: rgb(66, 10, 119);
}